.user-management {
    /* display: flex; */
    width: 70vw;
    flex-direction: column;
    margin-left: 0; 
    padding: 1rem; 
    overflow-y: auto;
    margin: 5%;
}

.table {
    width: 100%; 
    margin-bottom: 1rem;
    border: 1px solid #a4c79d; 
}

.user-management h1{
    color: #a4c79d;
    text-align: center;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #a4c79d;
    text-align: left;
}

.table tbody {
    background-color: white;
    border:1px solid #a4c79d;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.back-button {
    width: 10%;
    height: 35px;
    background: #a4c79d;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin: 2px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.search-input {
    margin-bottom: 1rem;
    padding: 8px;
    width: 100%; /* Set width to 100% to match the table */
    box-sizing: border-box;
}


/* change */
.modal-popup {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border-radius: 15px;

    background: #ddfae3;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);

    position: relative;
    z-index: 1000; /* Ensure the modal has a high z-index */
}

.modal-popup h2 {
    font-size: 36px;
    text-align: center;
    color: #a4c79d;
}

.modal-popup .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: #d6f2d1;
    border-radius: 50px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(104, 103, 103, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #121312;
    padding: 20px 45px 20px 20px;
    cursor: text;
}

.input-box .icon,
.input-box .toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(132, 132, 132);
    cursor: pointer;
}

.modal-popup button {
    width: 50%;
    height: 45px;
    background: #a4c79d;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    margin-bottom: 2px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; /* Ensure the overlay has a high z-index */
}

.edit-user-button{
    margin: 5px;
    padding: 2px;
}
.delete-user-button {
    margin: 5px;
    padding: 2px;
}
/* change */


