html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent vertical scrolling */
}

.profile-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* Full width */
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar-styled {
  width: 230px;
  /* background-color: rgb(5, 17, 39); */
  background: #a4c79d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgb(9, 26, 60, 0.8);
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  color: white;
}

.sidebar-top div:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-styled button {
  background-color: #ddfae3;
  /* color: rgb(0, 0, 0); */
  border: none;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sidebar-styled button:hover {
  background-color: #d6f2d1;
  color: white;
}

.sidebar-bottom {
  margin-top: auto;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px; /* Adjust the value as needed */
  cursor: pointer;
  color: black;
  padding: 7px;
  /* background-color: rgb(23, 41, 77); */
  background: #d6f2d1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  transition: 0.5s;
}

.sidebar-item:hover {
  color: #55e8ff;
  /* background-color: rgb(35, 61, 111); */
  background: #a4c79d;
}

.sidebar-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.main-content {
  flex: 1;
  position: relative;
  /* background-color: rgb(10, 24, 54); */
  display: flex;
  flex-direction: column;
}

.main-content1 {
  flex: 1;
  padding: 20px;
  position: relative;
  background: #d6f2d1;
}

.navbar-styled {
  width: 100%;
  /* background-color: rgb(9, 26, 60); */
  background: #a4c79d;
  color: #3e8fad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 15px;
  padding-left: 38%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.navbar-styled p {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
  align-self: center;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 106, 188, 0.3);
  z-index: 1;
}

.spinner-overlay img {
  width: 50px;
  height: 50px;
}

.spinner-overlay .fa-spinner {
  font-size: 50px;
}

.response-container {
  height: 76vh;
  width: 85vw;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 2vh;
  /* background-color: rgb(9, 26, 60); */
  background: #a4c79d;
  color: black;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #9db5c7 #ddecfa; /* For Firefox */
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7);
  border-radius: 1%;
}

/* For Webkit-based browsers */
.response-container::-webkit-scrollbar {
  width: 8px;
}

.response-container::-webkit-scrollbar-track {
  background: #ddfae3;
}

.response-container::-webkit-scrollbar-thumb {
  background-color: #a4c79d;
  border-radius: 10px;
  /* border: 2px solid #ddfae3; */
}

.response-value {
  padding: 5px;
  margin: 10px 150px;
  border-radius: 5px;
  text-align: left; 
  display: flex;
  word-wrap: break-word; 
  word-break: break-word;
}

.response-value.user {
  /* max-width: 40%; */
  align-self: flex-start; 
  justify-content: flex-start;
  background-color: #c3eae8;
  margin-bottom: 0.2px;
  /* From https://css.glass */
  background: rgba(128, 208, 255, 0.31);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.559);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(0, 131, 167, 0.5);
  color: rgb(255, 255, 255);
}

.response-value.bot {
  /* max-width: 40%;  */
  align-self: flex-start; 
  justify-content: flex-start;
  background-color: #d5f0d0;
  margin-bottom: 2%;
  /* From https://css.glass */
  background: rgba(41, 245, 218, 0.31);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.441);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(1, 53, 144, 0.5);
  color: #ffffff;;
}

.message-icon {
  width: 20px; 
  height: 20px; 
  margin-right: 10px; 
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  padding: 10px;
  background-color: #a4c79d;
  border-radius: 25px;
  outline: none;

  /* From https://css.glass */
  /* background: rgba(9, 26, 60, 0.31); */
  background-color: #a4c79d;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(9, 26, 60, 0.5);
  color: rgb(0, 0, 0);;
}

.input-form {
  display: flex;
  flex: 1;
}

.input-field {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border: none;
  background-color: #e5ffe0;
  color: white;
  outline: none;
  font-size: 14px;
  resize: none; /* Prevent resizing by the user */
  overflow-y: auto; /* Add scrollbar for overflow */
  height: auto; /* Adjust height automatically */
  max-height: 100px; /* Maximum height before scrollbar */
  background: rgba(9, 26, 60, 0);
}

.send-button {
  flex-shrink: 0; 
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #04b132;;
  font-size: medium;
  font-weight: bolder;
}

.paperclip-icon {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 20px;
  color: rgb(0, 187, 255);
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

.paperclip-icon:hover{
  color: rgb(255, 181, 77);
}

.signout-button {
  padding: 8px 16px;
  border-radius: 15px;
}


.tooltip {
  position: fixed;
  top: 3%;
  left: 50%;
  height: 10%;
  width: 90%;
  transform: translateX(-50%);
  background-color: #cac3c3;
  color: rgb(13, 13, 13);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0.9;
  pointer-events: none;
  text-align: center;
  justify-content: center;
}

.message-icon.bot {
  color: #c2f3ff;
  margin-right: 10px;
}

.message-icon.user {
  margin-right: 10px;
  color: #b1fff3;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #383737;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  width: 300px;
  max-width: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content .sidebar-item {
  color: white;
  cursor: pointer;
}

.modal-content .sidebar-item:hover {
  color: #090909;
}

.popup-box {
  position: absolute;
  bottom: 50px;
  left: 10px;
  /* background-color: rgb(9, 26, 60); */
  background: #ddfae3;
  color: rgb(78, 217, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  margin-bottom: 15px;
}

.popup-box .sidebar-item {
  color: rgb(177, 227, 224);
  padding: 5px 10px;
  cursor: pointer;
}

.popup-box .sidebar-item:hover {
  background-color: #255d66;
  color: #090909;
}

.emailIcon {
  color: #05122a;
}

.signoutIcon {
  color: rgb(0, 255, 72);
}

.disabled {
  color: #aaa;
  cursor: not-allowed;
  background-color: transparent;
  pointer-events: none;
}

.disabled:hover {
  color: #aaa;
  background-color: transparent;
}

.disabled .emailIcon {
  color: #aaa;
}

.disabled .emailIcon:hover {
  color: #aaa;
}
